/* ========== Variables ========== */
:root {
    --menu-bg: #3498db;
    --menu-bg-sub: #98a5ae;
    --menu-hover: #1f3645;
    --menu-text: #ffffff;
    --menu-padding: 10px 14px;
    --menu-radius: 4px;
    --menu-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
    --menu-gap: 4px;
    --button-radius: 20px;
    --font-family: 'Trebuchet MS', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --font-size: 18px;
    --font-button-size: 24px;
    --font-button: Trebuchet MS',' Lucida Sans', ' Lucida Sans Regular', ' Lucida Grande', ' Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   

}
/* Global box-sizing to keep widths predictable */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 237, 237);
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* screens less than 758 */
@media only screen and (min-width: 768px) {

    body {
        background-color: rgb(199, 244, 203);
    }
}

@media only screen and (min-width: 480px) {

    .hamburger {
        display: none;
    }
}


@media only screen and (max-width: 768px) {

    body {
        background-color: rgb(206, 207, 238);
    }
    h1{color:red}

    .main-nav {
        display: none;
    }

    .menu {
        grid-auto-flow: column;
        gap: 1rem;
        align-items: center;
        display: none;
    }

    .hamburger {
        /* [L28] */
        appearance: none;
        background: transparent;
        border: 0;
        padding: 0.5rem;
        display: inline-flex;
        align-items: center;
        gap: .5rem;
        cursor: pointer;
        width: 50px;
    }

    .hamburger:focus-visible {
        outline: 2px solid #3b82f6;
        /* focus ring */
        outline-offset: 2px;
    }

    .hamburger-box {
        /* [L42] */
        width: 24px;
        height: 18px;
        position: relative;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        position: absolute;
        left: 0;
        right: 0;
        height: 4px;
        background: #111827;
        border-radius: 2px;
        content: "";
        display: block;
        transition: transform .2s ease, opacity .2s ease;
    }

    .hamburger-inner {
        top: 8px;
    }

    /* middle line */
    .hamburger-inner::before {
        top: -8px;
    }

    /* top line    */
    .hamburger-inner::after {
        top: 8px;
    }
    
}

/* phone screens less than 360px */
 @media only screen and (max-width: 360px){

    h1 {color:blue}
 }

/* Hero banner without background image */
.hero {
    position: relative;
    /* establishes positioning context */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0;
    height: 400px;
}

/* Hero banner background image */
.hero {
    background-image: url('images/hero-pexels-pixabay-414781.jpg');
    
}


.title {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.574);
    bottom: 0;

}

.title>h1 {
    font-size: 40px;
}

.title>p {
    font-size: 25px;
}

img {
    max-width: 100%;
    height: auto;
    background-color: rgb(247, 247, 247);
    /* remove the float so it doesn't affect layout globally */
    /* float: right;  <-- delete this unless you really need it somewhere specific */
    margin-left: 0;
    /* was 'margin-left 0; px;' */
    padding: 5px;
    border: 1px solid rgb(37, 22, 22);
    border-radius: 5px;
}


/* Fluid container with max width */
main {
    max-width: 100vw;
    /* keeps text line length comfortable */
    margin: 25px auto;
    /* centers on screen, adds top/bottom spacing */
    padding: 0px 25px 25px 25px;
}



/* Flex and grid */
.flex-demo {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 20px;
}

.flex-demo div {
    background: #0a9396;
    color: white;
    padding: 10px;
    flex: 1;
}

.grid-demo {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-top: 20px;
}

.grid-demo>div {
    background: #bb3e03;
    color: white;
    padding: 20px;
}

.card {
    display: flex;
    flex-flow: column;
    border: 4px solid black;
    padding: 10px;
}

.card>img {
    width: 100px;
    background-color: rgb(237, 231, 231);
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
    border: solid rgb(37, 22, 22) 0px;
    border-radius: 3px;
}

.card>button {
    margin-top: 0px;
    background: rgb(43, 12, 153);
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    font-size: 1.2rem;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card>p {
    font-size: 14px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.card>h4 {
    font-size: 19px;
    margin-bottom: 0px;
    padding: 0px;
}


ul {
    list-style: none;
}

/* Header */

.site-header {
    background: var(--menu-bg);
    color: var(--menu-text);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    width: 100%;
    /* was 100vw */
    overflow-x: clip;
    /* optional: guards against tiny sub-pixel overflow */
}
}

.brand {
    font-size: 1.5rem;
    color: var(--menu-text);
    display: flex;
    /* align text or image */
    align-items: center;
    gap: 8px;
    /* spacing between image and text if both are used */
}

.brand img {
    height: 40px;
    /* adjust logo size */
    width: auto;
    /* keep proportions */
    display: block;
    float: none;
}

/* Common link styles */
.main-nav a {
    display: block;
    color: var(--menu-text);
    text-decoration: none;
    padding: var(--menu-padding);
    border-radius: var(--menu-radius);
    white-space: nowrap;
    font-size: 18px;
}

.main-nav a:hover,
.main-nav a:focus {
    background: var(--menu-hover);
}

/* ========== TOP-LEVEL ONLY ========== */
.menu--top {
    display: flex;
    /* flex ONLY on top-level menu */
    gap: var(--menu-gap);
    align-items: center;
    flex-wrap: wrap;
}

.menu--top>li {
    position: relative;
}

/* ========== SUBMENU ========== */
.menu--sub {
    display: none !important;
    position: absolute;
    top: 100%;
    left: 20px;
    /* was 'left: 20;' */
    min-width: 100%;
    background: var(--menu-bg-sub);
    border-radius: var(--menu-radius);
    box-shadow: var(--menu-shadow);
    z-index: 10;
}

.menu--sub>li>a {
    /* vertical stacking guaranteed */
    display: block !important;
    margin-right: 20px;
}

/* Show submenu on hover OR keyboard focus within */
.has-dropdown:hover>.menu--sub,
.has-dropdown:focus-within>.menu--sub {
    display: block !important;
}


/* Form sytles */

form {
    width: 500px;
    margin: auto;
    border: 1px solid rgb(195, 181, 181);
    background-color: antiquewhite;
    padding: 25px 0px 25px 25px;
}

select {
    padding: 10px;
    font-size: var(--font-size);
    font-family: var(--font-family);
    box-shadow: 5px 3px 3px rgb(27, 20, 20);
}


/* General form label style */
label {
    font-weight: bold;
    padding-bottom: 5px;
    margin-top: 10px;
}

/* Only labels for text inputs and textarea should be block */
label[for],
textarea+label {
    display: block;
}

input{
    padding:5px;
}

/* Radio and checkbox labels inline with the control */
input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    font-weight: normal;
    /* lighter than main labels */
    margin-right: 15px;
    padding: 2px 6px;
    cursor: pointer;
}

/* Make sure radio/checkbox don't stretch */
input[type="radio"],
input[type="checkbox"] {
    width: auto;
    height: auto;
    margin-right: 6px;
    vertical-align: middle;
}

fieldset{margin-top:25px;
margin-bottom:20px;
width:90%;
border-color: #00b51e;
box-shadow: 5px 3px 3px rgb(27, 20, 20);
}

fieldset.different{
    margin-top: 25px;
    margin-bottom: 20px;
    width: 90%;
    border-color: #230a28;
    box-shadow: none;
}



label {
    margin-right: 15px;
    /* space between each option */
}

textarea {
    width: 90%;
}

#phone {
    width: 100px;
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px 10px;
    width: 50%;
    background-color: #0073e6;
    color: white;
    border: none;
    cursor: pointer;
    font-size: var(--font-button-size);
    border-radius: var(--button-radius);
}

button:hover {
    background-color: #00b51e;
    border-radius: var(--button-radius);
    font-size: var(--font-button-size);
}



/* footer sytles */

.footer {
    width: 100%;
    margin-top: 50px;
    padding: 25px;
    background-color: #1f3645;
    color: #ffffff
}


