/* ========== Variables ========== */
:root {
    --menu-bg: #3498db;
    --menu-bg-sub: #98a5ae;
    --menu-hover: #1f3645;
    --menu-text: #ffffff;
    --menu-padding: 10px 14px;
    --menu-radius: 4px;
    --menu-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
    --menu-gap: 4px;
    --button-radius: 20px;
    --font-family: 'Trebuchet MS', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --font-size: 18px;
    --font-button-size: 14px;
    --font-button: Trebuchet MS',' Lucida Sans', ' Lucida Sans Regular', ' Lucida Grande', ' Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   

}
/* Global box-sizing to keep widths predictable */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.dark {
    background: #111;
    color: #eee;
}

.btn {
    padding: 10px 20px;
    background: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}


body {
    background-color: rgb(116, 205, 205);
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #6F86FF;
}

.title h1 {
    font-size:60px;
    
}

.title>p {
    font-size: 25px;
}


/* Hero banner without background image */
.hero {
    position: relative;
    /* establishes positioning context */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 0;
    height: 400px;
}

/* Hero banner background image */
.hero {
    background-image: url('images/hero-pexels-pixabay-414781.jpg');
    
}

.title {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.574);
    bottom: 0;

}



p {width:100%}


img {
    max-width: 100%;
    height: auto;
    background-color: rgb(247, 247, 247);
    /* remove the float so it doesn't affect layout globally */
    /* float: right;  <-- delete this unless you really need it somewhere specific */
    margin-left: 0;
    /* was 'margin-left 0; px;' */
    padding: 5px;
    border: 1px solid rgb(37, 22, 22);
    border-radius: 5px;
}


/* Fluid container with max width */
main {
    max-width: 100vw;
    /* keeps text line length comfortable */
    margin: 0px auto;
    /* centers on screen, adds top/bottom spacing */
    padding: 2% 3% 3% 3% ;
}



/* Flex and grid */
.flex-demo {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 30px;
    color: white;
    padding: 10px;
    
}

.grid-demo {
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 10px;
    margin-top: 20px;
        color: white;
        padding: 20px;
    
}

.card {
    display: flex;
    flex-flow: column;
    border: 4px solid black;
    padding: 10px;
    background-color: rgb(67, 43, 43);
    width:25vw;
    
}

.card>img {
    width: 100px;
    background-color: rgb(237, 231, 231);
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
    border: solid rgb(37, 22, 22) 0px;
    border-radius: 3px;
}

.card>button {
    
    border-radius: var(--button-radius);
    font-size: var(--font-button-size);
    margin-top: 0px;
    background: rgb(173, 171, 180);
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    border: none;
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
}

.card>p {
    font-size: 14px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color:rgb(253, 253, 253);
}

.card>h4 {
    font-size: 35px;
    margin-bottom: 0px;
    padding: 0px;
}


ul {
    list-style: none;
}

/* Header */

.site-header {
    background: var(--menu-bg);
    color: var(--menu-text);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    width: 100%;
    /* was 100vw */
    overflow-x: clip;
    /* optional: guards against tiny sub-pixel overflow */
    height:100px;
    position: fixed;
        /*** makes header sticky ***/
        top: 0;
    z-index: 9;
box-shadow: 0 6px 10px rgb(0, 0, 0); /*** adds shadow ***/
}

.brand {
    font-size: 1.5rem;
    color: var(--menu-text);
    display: flex;
    /* align text or image */
    align-items: center;
    gap: 8px;
    /* spacing between image and text if both are used */
}

.brand img {
    height: 40px;
    /* adjust logo size */
    width: auto;
    /* keep proportions */
    display: block;
    float: none;
}

/* Common link styles */
.main-nav a {
    display: block;
    color: var(--menu-text);
    text-decoration: none;
    padding: var(--menu-padding);
    border-radius: var(--menu-radius);
    white-space: nowrap;
    font-size: 18px;
}

.main-nav a:hover,
.main-nav a:focus {
    background: var(--menu-hover);
}

/* ========== TOP-LEVEL ONLY ========== */
.menu--top {
    display: flex;
    /* flex ONLY on top-level menu */
    gap: var(--menu-gap);
    align-items: center;
    flex-wrap: wrap;
}

.menu--top>li {
    position: relative;
}

/* ========== SUBMENU ========== */
.menu--sub {
    display: none !important;
    position: absolute;
    top: 100%;
    left: 20px;
    /* was 'left: 20;' */
    min-width: 100%;
    background: var(--menu-bg-sub);
    border-radius: var(--menu-radius);
    box-shadow: var(--menu-shadow);
    
}

.menu--sub>li>a {
    /* vertical stacking guaranteed */
    display: block !important;
    margin-right: 20px;
}

/* Show submenu on hover OR keyboard focus within */
.has-dropdown:hover>.menu--sub,
.has-dropdown:focus-within>.menu--sub {
    display: block !important;
}

.off-screen-menu {
    display: none;
}

/*** added to  ham-menu  text off desktop ***/

@media only screen and (max-width: 650px){
/* off-screen-menu */


/* ham menu */
    .ham-menu {
        height: 50px;
        width: 40px;
        margin-left: auto;
        position: relative;

        /*** keeps ham bars on top ***/
    }

    .ham-menu span {
        height: 2px;
        width: 100%;
        background-color: #000000;
        border-radius: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;

    }

    .ham-menu span:nth-child(1) {
        top: 35%;
    }

    .ham-menu span:nth-child(3) {
        top: 65%;
    }

    .ham-menu.active span {
        background-color: white;
    }

    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        height: 4px;
        /* thicker lines */
        width: 80%;
        /* make the X longer */
    }

    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        height: 4px;
        /* thicker lines */
        width: 80%;
        /* make the X longer */
    }


.off-screen-menu {
    background-color: rgba(96, 18, 74, 0.884);
    height:50vh;
    width: 100vw;
    max-width: 100%;
    position: fixed;
    top: 0;
    right: -100vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    font-size: 3rem;
    transition: .3s ease;
    font-size: 18px;
}

/*** slide down mobile menu */ 
.off-screen-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 50vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.617), rgba(230, 230, 207, 0.29));
    display: flex;
    flex-direction: column;
    transform: translateY(-105%);
    /* start hidden above screen */
    transition: transform 0.35s ease;
    /* smooth animation */ 
    box-shadow: 1px 1px 2px black,
        0 0 25px blue,
        0 0 5px darkblue;
} 

nav.main-nav {display:none;} /*** added to keep main horz menu off desktop ***/



.off-screen-menu.active {
    right: 0;
}

.off-screen-menu.active {
    transform: translateY(0);
    /* slide into view */
}

.off-screen-menu.active ul { /*** added to push menu to top ***/
   
    
}

/* nav */
nav {
    padding: 1rem;
    display: flex;
    background-color: transparent; /*** makes ham container transparent ***/
}




}
/* Form sytles */

form {
    width: 500px;
    margin: auto;
    border: 1px solid rgb(195, 181, 181);
    background-color: antiquewhite;
    padding: 25px 0px 25px 25px;
}

select {
    padding: 10px;
    font-size: var(--font-size);
    font-family: var(--font-family);
    box-shadow: 5px 3px 3px rgb(27, 20, 20);
}


/* General form label style */
label {
    font-weight: bold;
    padding-bottom: 5px;
    margin-top: 10px;
}

/* Only labels for text inputs and textarea should be block */
label[for],
textarea+label {
    display: block;
}

input{
    padding:5px;
}

/* Radio and checkbox labels inline with the control */
input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    font-weight: normal;
    /* lighter than main labels */
    margin-right: 15px;
    padding: 2px 6px;
    cursor: pointer;
}

/* Make sure radio/checkbox don't stretch */
input[type="radio"],
input[type="checkbox"] {
    width: auto;
    height: auto;
    margin-right: 6px;
    vertical-align: middle;
}

fieldset{margin-top:25px;
margin-bottom:20px;
width:90%;
border-color: #00b51e;
box-shadow: 5px 3px 3px rgb(27, 20, 20);
}

fieldset.different{
    margin-top: 25px;
    margin-bottom: 20px;
    width: 90%;
    border-color: #230a28;
    box-shadow: none;
}



label {
    margin-right: 15px;
    /* space between each option */
}

textarea {
    width: 90%;
}

#phone {
    width: 100px;
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    width: 75%;
    background-color: #43505d;
    color: white;
    border: none;
    cursor: pointer; 
    
}

button:hover {

        background-color: rgb(236, 229, 229);     
    
}



/* footer sytles */

.footer {
    width: 100%;
    margin-top: 50px;
    padding: 25px;
    background-color: #1f3645;
    color: #ffffff
}


/* responsive styles */




@media only screen and (max-width: 650px)


    
.title h1 {
    font-size: 34px;

}




/* close of media query for mobile*/       
        }